{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla, repudiandae.
        Aliquam aspernatur earum eius impedit iste maxime odio sapiente? Ad aliquid beatae excepturi iste labore repellendus suscipit unde, veritatis?
    </p>
{{end}}