{{template "base" .}}

{{define "title"}}Profile{{end}}

{{define "main"}}
<h2>User Profile</h2>
<table>
    {{with .User}}
    <tr>
        <th>Name</th>
        <td>{{.Name}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{.Email}}</td>
    </tr>
    <tr>
        <th>Joined</th>
        <td>{{.Created | humanDate}}</td>
    </tr>
    <tr>
        <th>Password</th>
        <td><a href="/user/change-password">Change password</a></td>
    </tr>
    {{end}}
</table>
{{end}}